<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>peppol-client</display-name>
  <welcome-file-list>
    <welcome-file>PeppolClientServlet</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <servlet-name>PeppolClient</servlet-name>
    <servlet-class>com.peppol.client.PeppolClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeppolClient</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>